<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="manytag.business.dao.entity.mapper.ICTypeInfoMapper">
	<resultMap id="CTypeInfoEntityResult" type="manytag.business.dao.entity.CTypeInfoEntity">
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="parent_code" property="parentCode" jdbcType="VARCHAR" />
		<result column="sort_num" property="sortNum" jdbcType="INTEGER" />
		<result column="memo" property="memo" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="update_user" property="updateUser" jdbcType="VARCHAR" />
	</resultMap>

	<select id="searchPK" parameterType="manytag.business.dao.entity.CTypeInfoSearchEntity" resultMap="CTypeInfoEntityResult">
		select
			code,
			name,
			parent_code,
			sort_num,
			memo,
			create_time,
			create_user,
			update_time,
			update_user
		from c_type_info
		where code = #{code,jdbcType=VARCHAR}
	</select>

	<select id="searchAll" resultMap="CTypeInfoEntityResult">
		select
			code,
			name,
			parent_code,
			sort_num,
			memo,
			create_time,
			create_user,
			update_time,
			update_user
		from c_type_info
	</select>

	<select id="search" parameterType="manytag.business.dao.entity.CTypeInfoSearchEntity" resultMap="CTypeInfoEntityResult">
		select
			code,
			name,
			parent_code,
			sort_num,
			memo,
			create_time,
			create_user,
			update_time,
			update_user
		from c_type_info
		<trim prefix="where" prefixOverrides="and">
			<if test="code != null and code != ''">
				and code like CONCAT('%', #{code,jdbcType=VARCHAR}, '%')
			</if>
			<if test="name != null and name != ''">
				and name like CONCAT('%', #{name,jdbcType=VARCHAR}, '%')
			</if>
			<if test="parentCode != null and parentCode != ''">
				and parent_code like CONCAT('%', #{parentCode,jdbcType=VARCHAR}, '%')
			</if>
			<if test="sortNumSearchBegin != null">
				and sort_num &gt;= #{sortNumSearchBegin,jdbcType=INTEGER}
			</if>
			<if test="sortNumSearchEnd != null">
				and sort_num &lt;= #{sortNumSearchEnd,jdbcType=INTEGER}
			</if>
			<if test="memo != null and memo != ''">
				and memo like CONCAT('%', #{memo,jdbcType=VARCHAR}, '%')
			</if>
			<if test="createTimeSearchBegin != null">
				and create_time &gt;= #{createTimeSearchBegin,jdbcType=TIMESTAMP}
			</if>
			<if test="createTimeSearchEnd != null">
				and create_time &lt;= #{createTimeSearchEnd,jdbcType=TIMESTAMP}
			</if>
			<if test="createUser != null and createUser != ''">
				and create_user like CONCAT('%', #{createUser,jdbcType=VARCHAR}, '%')
			</if>
			<if test="updateTimeSearchBegin != null">
				and update_time &gt;= #{updateTimeSearchBegin,jdbcType=TIMESTAMP}
			</if>
			<if test="updateTimeSearchEnd != null">
				and update_time &lt;= #{updateTimeSearchEnd,jdbcType=TIMESTAMP}
			</if>
			<if test="updateUser != null and updateUser != ''">
				and update_user like CONCAT('%', #{updateUser,jdbcType=VARCHAR}, '%')
			</if>
		</trim>
		order by update_time desc
		limit #{offset}, #{rows}
	</select>

	<select id="searchCount" parameterType="manytag.business.dao.entity.CTypeInfoSearchEntity" resultType="java.lang.Integer">
		select count(1)
		from c_type_info
		<trim prefix="where" prefixOverrides="and">
			<if test="code != null and code != ''">
				and code like CONCAT('%', #{code,jdbcType=VARCHAR}, '%')
			</if>
			<if test="name != null and name != ''">
				and name like CONCAT('%', #{name,jdbcType=VARCHAR}, '%')
			</if>
			<if test="parentCode != null and parentCode != ''">
				and parent_code like CONCAT('%', #{parentCode,jdbcType=VARCHAR}, '%')
			</if>
			<if test="sortNumSearchBegin != null">
				and sort_num &gt;= #{sortNumSearchBegin,jdbcType=INTEGER}
			</if>
			<if test="sortNumSearchEnd != null">
				and sort_num &lt;= #{sortNumSearchEnd,jdbcType=INTEGER}
			</if>
			<if test="memo != null and memo != ''">
				and memo like CONCAT('%', #{memo,jdbcType=VARCHAR}, '%')
			</if>
			<if test="createTimeSearchBegin != null">
				and create_time &gt;= #{createTimeSearchBegin,jdbcType=TIMESTAMP}
			</if>
			<if test="createTimeSearchEnd != null">
				and create_time &lt;= #{createTimeSearchEnd,jdbcType=TIMESTAMP}
			</if>
			<if test="createUser != null and createUser != ''">
				and create_user like CONCAT('%', #{createUser,jdbcType=VARCHAR}, '%')
			</if>
			<if test="updateTimeSearchBegin != null">
				and update_time &gt;= #{updateTimeSearchBegin,jdbcType=TIMESTAMP}
			</if>
			<if test="updateTimeSearchEnd != null">
				and update_time &lt;= #{updateTimeSearchEnd,jdbcType=TIMESTAMP}
			</if>
			<if test="updateUser != null and updateUser != ''">
				and update_user like CONCAT('%', #{updateUser,jdbcType=VARCHAR}, '%')
			</if>
		</trim>
	</select>

	<select id="searchByCustom" parameterType="java.lang.String" resultMap="CTypeInfoEntityResult">
		select
			code,
			name,
			parent_code,
			sort_num,
			memo,
			create_time,
			create_user,
			update_time,
			update_user
		from c_type_info
		<if test="value != null and value != ''">
			where ${value}
		</if>
	</select>

	<select id="getAllCount" resultType="java.lang.Integer">
		select count(1) from c_type_info
	</select>

	<delete id="delete" parameterType="manytag.business.dao.entity.CTypeInfoEntity">
		delete from c_type_info
		where code = #{code,jdbcType=VARCHAR}
	</delete>

	<delete id="deleteList" parameterType="java.util.List">
		delete from c_type_info
		where
			<foreach collection="list" item="entity" index="index" open="(" separator=" or " close=")">
				(code = #{entity.code,jdbcType=VARCHAR})
			</foreach>
	</delete>

	<delete id="deleteAll" parameterType="manytag.business.dao.entity.CTypeInfoEntity">
		delete from c_type_info
		<trim prefix="where" prefixOverrides="and">
			<if test="code != null and code != ''">
				and code = #{code,jdbcType=VARCHAR}
			</if>
			<if test="name != null and name != ''">
				and name = #{name,jdbcType=VARCHAR}
			</if>
			<if test="parentCode != null and parentCode != ''">
				and parent_code = #{parentCode,jdbcType=VARCHAR}
			</if>
			<if test="sortNum != null">
				and sort_num = #{sortNum,jdbcType=INTEGER}
			</if>
			<if test="memo != null and memo != ''">
				and memo = #{memo,jdbcType=VARCHAR}
			</if>
			<if test="createTime != null">
				and create_time = #{createTime,jdbcType=TIMESTAMP}
			</if>
			<if test="createUser != null and createUser != ''">
				and create_user = #{createUser,jdbcType=VARCHAR}
			</if>
			<if test="updateTime != null">
				and update_time = #{updateTime,jdbcType=TIMESTAMP}
			</if>
			<if test="updateUser != null and updateUser != ''">
				and update_user = #{updateUser,jdbcType=VARCHAR}
			</if>
		</trim>
	</delete>

	<insert id="insert" parameterType="manytag.business.dao.entity.CTypeInfoEntity">
		insert into c_type_info
		(
			code
			,name
			<if test="parentCode != null and parentCode != ''">
			,parent_code
			</if>
			,sort_num
			<if test="memo != null and memo != ''">
			,memo
			</if>
			<if test="createTime != null">
			,create_time
			</if>
			<if test="createUser != null and createUser != ''">
			,create_user
			</if>
			<if test="updateTime != null">
			,update_time
			</if>
			<if test="updateUser != null and updateUser != ''">
			,update_user
			</if>
		)
		values
		(
			#{code,jdbcType=VARCHAR}
			,#{name,jdbcType=VARCHAR}
			<if test="parentCode != null and parentCode != ''">
			,#{parentCode,jdbcType=VARCHAR}
			</if>
			,#{sortNum,jdbcType=INTEGER}
			<if test="memo != null and memo != ''">
			,#{memo,jdbcType=VARCHAR}
			</if>
			<if test="createTime != null">
			,#{createTime,jdbcType=TIMESTAMP}
			</if>
			<if test="createUser != null and createUser != ''">
			,#{createUser,jdbcType=VARCHAR}
			</if>
			<if test="updateTime != null">
			,#{updateTime,jdbcType=TIMESTAMP}
			</if>
			<if test="updateUser != null and updateUser != ''">
			,#{updateUser,jdbcType=VARCHAR}
			</if>
		)
	</insert>

	<update id="update" parameterType="manytag.business.dao.entity.CTypeInfoEntity">
		update c_type_info set
			code = #{code,jdbcType=VARCHAR}
			,name = #{name,jdbcType=VARCHAR}
			<if test="parentCode != null">
			,parent_code = #{parentCode,jdbcType=VARCHAR}
			</if>
			,sort_num = #{sortNum,jdbcType=INTEGER}
			<if test="memo != null">
			,memo = #{memo,jdbcType=VARCHAR}
			</if>
			<if test="createTime != null">
			,create_time = #{createTime,jdbcType=TIMESTAMP}
			</if>
			<if test="createUser != null">
			,create_user = #{createUser,jdbcType=VARCHAR}
			</if>
			<if test="updateTime != null">
			,update_time = #{updateTime,jdbcType=TIMESTAMP}
			</if>
			<if test="updateUser != null">
			,update_user = #{updateUser,jdbcType=VARCHAR}
			</if>
		where code = #{code,jdbcType=VARCHAR}
	</update>

	<select id="searchSql" parameterType="java.lang.String" resultType="java.util.Map">
		${value}
	</select>
	<delete id="deleteSql" parameterType="java.lang.String">
		${value}
	</delete>
	<insert id="insertSql" parameterType="java.lang.String">
		${value}
	</insert>
	<update id="updateSql" parameterType="java.lang.String">
		${value}
	</update>
</mapper>